.heading{
    font-family: "Lucida Console", "Courier New", monospace;
    display:flex;
    color: whitesmoke;
    background-color: rgb(48, 48, 48);
    font-size: larger;
    line-height: 15px;
    
}
.calculator{
    border: 5px  rgb(74, 73, 73) solid;
    background-color: rgb(74, 73, 73) ;
    width: 50%;
    /* height: 700px; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.section1{
   
    background-color: #b4e49e;
    height: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:40px;
    font-size: x-large;
    text-align:right;
}

.section2{
    /* height: 270px; */
    width: 90%;
    background-color: #b4b7bf;
    width: 90%;
    margin: 5%;
    /* border: 30px rgb(74, 73, 73) solid; */
}
button{
    /* height: 50px; */
    width: 15%;
    /* border-radius: 10%; */
    margin-left: 4%;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size:x-large;
    font-weight: bold;
    padding: 5px;
    /* background-color: #82bacf; */
}
footer{
    text-align: center;
}

@media screen and (max-width : 400px) {
    /* body{
        background-color: rgb(226, 125, 43);
    } */
    .section1{
        font-size:large ;
    }
    button{
        font-size:large;
        padding: 0px;
    }
}
